[Desktop Entry]
Name=Registry Editor
Comment=Edit Windows-Style Registry files
Exec=gregedit
Icon=/usr/share/samba-gtk/samba-logo-square.png
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;Utility;Network;
StartupNotify=true
