[Desktop Entry]
Name=LDB Browser
Comment=Lightweight database browser and editor
Exec=gtkldb %f
Icon=samba-gtkldb
Type=Application
Terminal=false
Categories=GNOME;GTK;RemoteAccess;System;Utility;Network;Database
StartupNotify=true
MimeType=application/x-ldb
Keywords=Samba;LDAP
