[Desktop Entry]
Name=Windows Job Scheduler
Comment=View and plan jobs on remote Windows hosts
Exec=gwcrontab
Icon=samba-gwcrontab
Type=Application
Terminal=false
Categories=GNOME;GTK;RemoteAccess;Utility;Network;
StartupNotify=true
Hidden=true
