[Desktop Entry]
Name=Registry Editor
Comment=Edit Windows-Style Registry files
Exec=gwregedit
Icon=samba-registry
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;Utility;Network;Database;
StartupNotify=true
Hidden=true
