[Desktop Entry]
Name=Windows User Manager
Comment=Manage user, group and aliases on a remote Windows machine
Exec=gwsam
Icon=samba
Type=Application
Terminal=false
Categories=GNOME;GTK;RemoteAccess;System;Utility;Network;
StartupNotify=true
