[Desktop Entry]
Name=Samba Workstation Manager
Comment=Manage Samba and Windows workstations
Exec=gwwkssvc
Icon=samba-gwwkssvc
Terminal=false
Type=Application
Categories=GNOME;GTK;RemoteAccess;System;Network;Utility
StartupNotify=true
